################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RuRu Comms/FileContentIndex/d9f59953-4e66-47d6-85f0-66927c54f74e.vsidx
