################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs/
*.vsidx
/bin/Debug/clientId.json
ip.json
/bin/Release/clientId.json
